## Ejemplo 6: Limpiando NaNs en un dataset real

### 1. Objetivos:
    - Aplicar lo aprendido hasta ahora en un dataset real
 
---
    
### 2. Desarrollo:

In [ ]:
import pandas as pd

Para leer un archivo .csv en `pandas`, usamos `read_csv` y le indicamos que el separador (el signo que delimita las columnas en el archivo .csv) es una coma:

In [ ]:
df = pd.read_csv('../../Datasets/melbourne_housing-raw.csv', sep=',')

df

In [ ]:
df.shape

In [ ]:
df.head(5)

In [ ]:
df.isna().sum()

Hay demasiados `NaNs` en las columnas 'BuildingArea' y 'YearBuilt', así que vamos a deshacernos de esas columnas:

In [ ]:
df_2 = df.drop(columns=['BuildingArea', 'YearBuilt'])

df_2.isna().sum()

Llenemos los `NaNs` en Regionname con la palabra `Unknown`:

In [ ]:
df_2['Regionname'] = df_2['Regionname'].fillna('Unknown')

df_2.isna().sum()

Ahora eliminemos las filas que contengan al menos un `NaN`:

In [ ]:
df_dropped = df_2.dropna(axis=0, how='any')

df_dropped.isna().sum()

Éste es el número de columnas con el que nos quedamos:

In [ ]:
df_dropped.shape

Guardemos el resultado:

In [ ]:
df_dropped.to_csv('../../Datasets/melbourne_housing-no_nans.csv')

Seguiremos trabajando este dataset en el último ejemplo.